{#-
    Boilerplate - Login page
    ------------------------------------------------------------
    Jinja2 template for the login page.
-#}
{% extends 'boilerplate/layout.html' %}
{% block content %}
    <div class="flex items-center justify-center mx-3">
    <div class="px-8 py-6 mt-8 text-left bg-white p-4">
        <h3 class="text-2xl font-bold text-center">Willkommen zurück</h3>
        <h4 class="text-lg font-bold text-center text-gray-500">Bitte melde dich an</h4>
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.csrf_token }}
            <div class="mt-4">
                <div>
                    <label class="block" for="email">E-Mail</label>
                        {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='john@example.com', type='email', autofocus=true) }}
                </div>
                <div class="mt-4">
                    <label class="block" for="password">Passwort</label>
                        {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='••••••••', type='password') }}
                </div>
                <div class="flex items-baseline justify-between">
                    <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" type="submit">Anmelden</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
