{#-
    Boilerplate - Registration page
    ------------------------------------------------------------
    Jinja2 template for the registration page.
-#}
{% extends 'boilerplate/layout.html' %}
{% block content %}
    <div class="flex items-center justify-center mx-3">
    <div class="px-8 py-6 mt-8 text-left bg-white p-4">
        <h3 class="text-2xl font-bold text-center">Konto registrieren</h3>
        <h4 class="text-lg font-bold text-center text-gray-500">Kostenlos, schnell und einfach</h4>
        <form action="{{ url_for('auth.register') }}" method="POST">
            {{ form.csrf_token }}
            <div class="mt-4">
                <div>
                    <label class="block" for="first_name">Vorname</label>
                        {{ form.first_name(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='Max', type='text', value=old_form_data.first_name, autofocus=true) }}
                </div>
                <div class="mt-4">
                    <label class="block" for="last_name">Nachname</label>
                        {{ form.last_name(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='Mustermann', type='text') }}
                </div>
                <div class="mt-4">
                    <label class="block" for="email">E-Mail</label>
                        {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='max@beispiel.de', type='email') }}
                </div>
                <div class="mt-4">
                    <label class="block" for="password">Passwort</label>
                        {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='••••••••', type='password') }}
                        <p class="mt-2 text-sm text-gray-500 break-words">Das Passwort muss mindestens 8 Zeichen lang sein, keine Wiederholungen enthalten und mindestens 1 Großbuchstaben haben.</p>
                </div>
                <div class="mt-4">
                    <label class="block" for="repeat_password">Passwort wiederholen</label>
                        {{ form.repeat_password(class="bg-gray-50 border border-gray-300 text-gray-900 w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600", placeholder='••••••••', type='password') }}
                </div>
                <div class="flex items-baseline justify-between">
                    <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" type="submit">Registrieren</button>
                </div>
                <p class="text-sm font-light text-gray-500 mt-4 mb-0">
                      Schon ein Konto? <a href="{{ url_for('auth.login') }}" class="font-medium text-blue-600 hover:underline">Anmelden.</a>
                  </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
