<!DOCTYPE html>
<html lang="de" class="h-full" itemscope itemtype="https://schema.org/Organization">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Der Fahrverein Planetal e.V. in Reckahn, Brandenburg - Ein Verein für Kutschfahrten, Reitsport und Pferdefreunde. Gemeinsame Ausfahrten, Turniere und jährlicher Kutschertag.">
  <meta name="keywords" content="FV Planetal e.V., Planetal, Fahrverein Planetal, Kutschfahrten Brandenburg, Reitsport Reckahn, Kutschertag, Pferdesport Brandenburg, Fahrverein Reckahn, Reckahn">
  <meta name="author" content="Fahrverein Planetal e.V.">

  <!-- Open Graph Meta-Tags für soziale Medien -->
  <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}Fahrverein Planetal e.V.">
  <meta property="og:description" content="Der Fahrverein Planetal e.V. in Reckahn - Ihr Verein für Kutschfahrten, Reitsport und Pferdefreunde.">
  <meta property="og:image" content="{{ url_for('static', filename='logo.webp') }}">
  <meta property="og:url" content="{{ config['BASE_URL'] }}">
  <meta property="og:type" content="website">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ config['BASE_URL'] }}{{ request.path }}">


  <title>{% if title %}{{ title }} - {% endif %}{{ config['APP_NAME'] }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='logo.webp') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-slate-50 flex flex-col min-h-screen m-0 p-0">
  {% include 'boilerplate/nav.html' %}
  
  <!-- Hauptinhalt, der den verfügbaren Platz ausfüllt -->
  <main class="flex-grow">
    {% block content %}
    {% endblock %}
  </main>
  
  <!-- Footer erhält mt-auto, sodass er immer am unteren Rand des Viewports bleibt -->
  <footer class="mt-auto">
    {% include 'boilerplate/footer.html' %}
  </footer>
  
  <script src="{{ url_for('static', filename='js/flowbite.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
</body>
</html>
