{#-
    Boilerplate - Navigation bar component
    ------------------------------------------------------------
    Jinja2 template for the navigation bar component.
-#}

{% import 'boilerplate/macros/user.html' as user %}

<nav class="bg-white border-gray-200 px-4 py-2.5 dark:bg-gray-900 shadow-lg">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="{{ url_for('main.index') }}" class="flex items-center">
      <img src="{{ url_for('static', filename='logo.svg') }}" class="h-8 mr-3" alt="Vereinslogo"/>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Fahrverein Planetal e.V.</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
      <span class="sr-only">Menü öffnen</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5h14a1 1 0 110 2H3a1 1 0 010-2zm0 5h14a1 1 0 110 2H3a1 1 0 010-2zm0 5h14a1 1 0 110 2H3a1 1 0 010-2z" clip-rule="evenodd"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 border rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Über uns</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Mitgliedschaft</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Erlebnisberichte</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Kontakt</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('auth.login') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Login</a>
        </li>
        <li>
          <a href="{{ url_for('auth.register') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Registrieren</a>
        </li>
        {% else %}
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">
            {{ user.avatar(current_user.first_name, current_user.last_name, bg_color="ECEFF1", text_color="111827", size=25, class="inline mr-1") }}
            {{ current_user.first_name }}
          </a>
        </li>
        <li>
          <a href="{{ url_for('auth.logout') }}" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-gray-400 md:dark:hover:text-white">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
