{% extends 'boilerplate/layout.html' %}
{% block content %}
<section class="py-16 bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-12">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white mb-12 text-center">Impressum</h1>

        <!-- Vereinsinformationen -->
        <div class="mb-12">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">Fahrverein Planetal e.V.</h2>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Geschäftsstelle: <br>
                Krahner Straße 1 <br>
                14797 Kloster Lehnin OT Reckahn
            </p>
            <p class="text-lg text-gray-500 dark:text-gray-400 mt-4">
                E-Mail: 
                <a href="mailto:kontakt@fahrverein-planetal.de" class="text-gray-700 hover:text-black dark:text-gray-400 dark:hover:text-white">
                    kontakt@fahrverein-planetal.de
                </a>
            </p>
        </div>

        <!-- Vertretungsberechtigter Vorstand -->
        <div class="mb-12">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Vertretungsberechtigter Vorstand</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Jacquelin Bredt (Vorsitzende) <br>
                Denise Matthe (stellv. Vorsitzende)
            </p>
        </div>

        <!-- Vereinsregister & Steuerinformationen -->
        <div class="mb-12">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Vereinsregister & Steuerinformationen</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Vereinsregister: Amtsgericht Potsdam VR 3487 P <br>
                FN-Nr.: 1800563 <br>
                LSB-Nr.: 690271 <br>
                Finanzamt Brandenburg an der Havel, Steuer-Nr.: 048/140/07206
            </p>
        </div>

        <!-- Hosting & Verantwortlicher -->
        <div class="mb-12">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Hosting der Webseite</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Diese Webseite wird auf einem privaten Server von Janneck Lehmann betrieben. Die Domain wird bei STRATO erworben.
            </p>
        </div>

        <!-- Verantwortlicher gemäß § 6 MDStV -->
        <div class="mb-12">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Inhaltlich Verantwortlicher gemäß § 6 MDStV</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Janneck Lehmann
            </p>
        </div>

        <!-- Haftungsausschluss -->
        <div class="mb-12">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Haftungsausschluss</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Die bereitgestellten Informationen auf dieser Website wurden sorgfältig geprüft und werden regelmäßig aktualisiert. Es kann jedoch keine Garantie dafür übernommen werden, dass alle Angaben zu jeder Zeit vollständig, richtig und in letzter Aktualität dargestellt sind. Dies gilt insbesondere für alle Links zu externen Websites, auf die direkt oder indirekt verwiesen wird. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Wir distanzieren uns hiermit ausdrücklich von allen Inhalten verlinkter Seiten und machen uns diese nicht zu Eigen.
            </p>
            <p class="text-lg text-gray-500 dark:text-gray-400 mt-4">
                Die Informationen auf dieser Webseite können ohne vorherige Ankündigung ergänzt, entfernt oder geändert werden.
            </p>
        </div>

        <!-- Urheberrecht -->
        <div>
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Urheberrecht</h3>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                Alle Inhalte dieser Webseite, einschließlich Texte, Bilder und Grafiken, sind urheberrechtlich geschützt. Sie dürfen nur mit ausdrücklicher Genehmigung des Fahrvereins Planetal e.V. verwendet werden. Jegliche Verwendung, Vervielfältigung oder Verbreitung ohne vorherige Zustimmung ist untersagt. Anfragen zur Nutzung von Inhalten bitte an 
                <a href="mailto:kontakt@fahrverein-planetal.de" class="text-gray-700 hover:text-black dark:text-gray-400 dark:hover:text-white">
                    kontakt@fahrverein-planetal.de
                </a> richten.
            </p>
        </div>
    </div>
</section>
{% endblock %}
